{*FORM-HEADER*}
  	    <div class="wrapper">
  	      <div class="aside">
  	      	<h2><span><img src="images/icon1.gif" alt="" />Public Surveys</span></h2>
            <!-- .block -->
            <div class="block">
            	<ins class="lbc"></ins>
              <ins class="rbc"></ins>
              	<p>Come partisipate in some of our Public surveys</p>
            	<ul class="list1">
              	<li><a href="http://dev/esurveyit/survey.php?action=show&id=1">Test 1 </a></li>
                <li><a href="http://dev/esurveyit/survey.php?action=show&id=1">Jason New Test Case</a></li> 
              </ul>
            </div>
            <!-- /.block -->
  	      </div>
  	      <div class="mainContent">
          	<div class="section">
            	<!-- .box -->
              <div class="box">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          <div class="wrapper">
                            
                            <div class="register">
                              <h3>Register</h3>
                              <h5>Lorem ipsum dolor sit amet</h5>
                              <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet sed diam nonummy nibh euismod.</p>
                              		<div id="register-body">
										<fieldset>
										<legend>Login details</legend>
										<div class="label">Email</div> <div class="value required">{*email*}{*err_email*}</div><br class="clear"/>
										<div class="label">Confirm Email</div> <div class="value required">{*email*}{*err_email*}</div><br class="clear"/>
										<div class="label">Password</div> <div class="value required">{*password*}{*err_password*}</div><br class="clear"/>
										<div class="label">Confirm Password</div> <div class="value required ">{*password*}{*err_password*}</div><br class="clear"/>
										</fieldset>
										<fieldset>
										<legend>User details</legend>
										<div class="label">Name</div> <div class="value required">{*name*}{*err_name*}</div><br class="clear"/>
										<div class="label">Surname</div> <div class="value required">{*surname*}{*err_surname*}</div><br class="clear"/>
										<div class="label">Company</div> <div class="value">{*company*}{*err_company*}</div><br class="clear"/>
										</fieldset>
										<fieldset>
										<legend>Contact Details</legend>
										<div class="label">Phone</div> <div class="value required">{*phone*}{*err_phone*}</div><br class="clear"/>
										<div class="label">Address</div> <div class="value">{*address*}{*err_address*}</div><br class="clear"/>
										<div class="label">Address 2</div> <div class="value">{*address2*}{*err_address2*}</div><br class="clear"/>
										<div class="label">Suburb</div> <div class="value">{*suburb*}{*err_suburb*}</div><br class="clear"/>
										<div class="label">Postcode</div> <div class="value">{*postcode*}{*err_postcode*}</div><br class="clear"/>
										<div class="label">State</div> <div class="value">{*state*}{*err_state*}</div><br class="clear"/>
										</fieldset>
										<br class="clear"/>
										<div class="noprint">{*FUNCTION*}</div><br class="clear"/>
									</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
  	    </div>
			

