  	      <div class="aside">
  	      	<h2><span><img src="images/icon1.gif" alt="" />Public Surveys</span></h2>
            <!-- .block -->
            <div class="block">
            	<ins class="lbc"></ins>
              <ins class="rbc"></ins>
              	<p>Come partisipate in some of our Public surveys</p>
            	<ul class="list1">
              	<li><a href="http://dev/esurveyit/survey.php?action=show&id=1">Test 1 </a></li>
                <li><a href="http://dev/esurveyit/survey.php?action=show&id=1">Jason New Test Case</a></li> 
              </ul>
            </div>
            <!-- /.block -->
  	      </div>
  	      <div class="mainContent">
          	<div class="section">
            	<!-- .box -->
              <div class="box">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          <div class="wrapper line-ver">
                            <div class="col-1">
                              <h3>Marketing</h3>
                              <h5>Lorem ipsum dolor sit amet</h5>
                              <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet sed diam nonummy nibh euismod.</p>
                              <a href="#" class="button">read more</a>
                            </div>
                            <div class="col-2" >
	                            {*Login*}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
            <!-- .box1 -->
            <div class="box1">
            	<div class="left-top-corner">
                <div class="right-top-corner">
                  <div class="right-bot-corner">
                    <div class="left-bot-corner">
                      <div class="inner">
                        <h3><img src="images/icon2.jpg" alt="" />Main stages of business development.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> 
                        <h6>Nulla dui. Fusce feugiat malesuada odio.</h6>
                        <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.</p>
                        <a href="#" class="link1">more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box1 -->
          </div>