<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link media="screen" rel="stylesheet" href="css/ui-darkness/jquery-ui.css" type="text/css" />
<link href="js/farbtastic/farbtastic.css" rel="stylesheet" type="text/css" />
<link href="js/boxy/stylesheets/oxy.jcss" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/table-layout.js"></script>
{*script*}

<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="js/ie_png.js"></script>
   <script type="text/javascript">
       ie_png.fix('.png, .button');
   </script>
<![endif]-->
</head>

<body>
  <!-- header -->
  <div id="header">
  <input type="hidden" name="sid" value="2" />
 
    <div class="container">
     <!-- .login details -->
     {*LOGIN*}
     <!-- /login details -->
     <!-- .logo -->
    	<div class="logo">
      	<a href="index.php"><img src="images/logo.png" alt="" /></a>
      </div>
    	<!-- /.logo -->
      <!-- .slogan -->
      <div class="slogan">
      	<h1>Online Survey tool for your business</h1>
        <h2>The simple way to find awswers to your question...</h2>
      </div>
      <!-- /.slogan -->
      <!-- .nav -->
      <ul class="nav">
      	<li><a href="index.php">Home</a></li>
        <li><a href="survey.php">My Survey</a></li>
        <li><a id="new" href="survey.php?action=create">New Survey</a></li>
        <li><a href="clients.html">Clients</a></li>
        <li><a href="contact.html">Contacts</a></li>
      </ul>
      <!-- /.nav -->
    </div>
  </div>
  <!-- content -->
  <div id="content">
  	<div class="container">
  	  <div class="inside">
  	    <div class="wrapper">
          	{*CONTENT*}
        </div>        
  	  </div>
  	</div>
  </div>
  <!-- footer -->
  <div id="footer">
  	<div class="container">
    	<div class="inside">
      	<div class="wrapper">
        	<dl class="contact">
          	<dt>The Company Name Inc. 8901 Marmora Road, Glasgow, D04 89GR.</dt>
            <dd>Telephone: +1 959 552 5963</dd>
            <dd>FAX: +1 959 552 5964</dd>
            <dd>E-mail:  <a href="#">mail@demolink.org</a></dd>
          </dl>
          <!-- .footer-box -->
          <div class="footer-box">
          	<div class="indent">
          	  Ar &copy; 2010&nbsp; &nbsp; &nbsp; &nbsp; <a href="index-5.html">Privacy Policy</a>
          	</div>
          </div>
          <!-- /.footer-box -->
        </div>
      </div>
    </div>
  </div>
  <!-- coded by ramzes -->

</body>
</html>