
<div>

<!-- .box -->
              <div class="box">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          
                            {*active*}
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
<br />

              <div class="box1">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          
                            {*inactive*}
                         	NO INACTIBE SURVEYS
                         	<BR /><BR /><BR /><BR /><BR /><BR /><BR /><BR /><BR /><BR /><BR /><BR />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>

