
<div>

<!-- .box -->
              <div class="box" id="box-active">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          
                            {*active*}
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
<br />

              <div class="box" id="box-inactive">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                        
                            {*inactive*}

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>

